@import url(https://fonts.googleapis.com/css?family=Montserrat|Patua+One|Paytone+One|Pragati+Narrow|Varela);
* { 
	margin:0; padding:0; box-sizing:border-box; 
}
body {
	   /* text-align: center; */
	   background-color: rgb(232,232,232);
	   font-family: 'Varela', sans-serif;
	   color: rgb(116,116,116);
	   font-size: 16px;
}
h2 {
	font-style: none;
	font-size: 2.5em;
	color: #95CE8B;
}
h3 {
	font-size:2.5em;
	color: #95CE8B;
}
ul {
	padding: 1em;
}
main {
	background-color: #eae6e6;
	padding: none;
}
footer{
	background-color: grey;
	padding: 1.3em;
	text-align: center;
	font-size: 1.2em;
	text-decoration: bold;
	color: white;
}
#splash {
	font-family: sans-serif;
	background: url(../images/lightswitch.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 90vh;
	margin:auto;
	padding: 2em 0 0 0;
	position: relative;
}
#splash img {
    width: 35em;
    padding: 1em 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}
.history-text {
	width: 50%;
	/* float: right; */
	font-size: 1em;
	padding: 0;
	margin: 0;
	/* border: 3px solid red; */
	color: grey;
}
section#history {
    background: white;
    position: relative;
}
div.history-text {	
    padding: 0 4em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%);
	float: right;
}
img {
	width: 25em;
}
nav {
	font-size: 1em;
	background-color: #0a2340;
	margin: auto;
	text-align: center;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;
}
nav a {
	text-decoration: none;
	color: white;
	margin: 1em;
    display: inline-block;
}
.clearfix:after {
	display:block;
	clear:both;
	height:0;
	content: " ";
	visibility:hidden;
}
#optimisation-text {
	float: left;
	font-size: 1em;
	color: grey;
	width: 40%;
	margin: 4em;
}
#optimisation-image {	
    margin: 3em;
    width: 40%;
}
section#what-we-do {
	background: url(../images/insetnetworks_background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 30%;
	margin:auto;
	padding: 0 0 0 0;
	position: relative;
}
div#what-we-do-text {
	width: 50%;
	margin: auto;
	color: white;
	padding: 4em 2em 2em 2em;
}
#electricity-metering {
	background: url(../images/icon_background3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 30%;
	margin:auto;
	padding: 2em 0 0 0;
	position: relative;
}
div#electricity-metering-text {
	color: black;
	width: 40%;
	margin: auto;
	padding: 2em 0 2em 0;
	line-height: 1.5em;
}
#electricity-metering h3 {
	color: #0a2340;
	margin: .5em 0 .5em 0;
}
#inset-networks {
	margin: auto;
	background: #0a2340;
	padding: 2em;	
}
#inset-networks-text {
	color: white;
	width: 37.5em;
	margin: auto;
	padding: 4em 0 4em 0;
}
#contact-us {
	font-family: sans-serif;
	background: url(../images/contact_us.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 30%;
	margin:auto;
	padding: 2em 0 0 0;
	position: relative;
}
#contact-us-text {
	text-align: center;
	color: #0a2340;
	width: 50%;
	margin: auto;
	font-size: 2em;
	padding: 2em 0 0 0;
	line-height: 1.5em;
	text-decoration: none;
}
#contact-us-text img {
	width: 35px;
}
#contact-us-text a {
	text-decoration: none; 
	color: #0a2340;
}
#contact-us h2 {
	color: white;
	padding: .5em;
	font-size: 1.5em;
}

@media only screen and (max-width: 1135px) {
	#optimisation-text {
		float: none;
		margin: none;
	}
	.history-text {
		width: 100%;
		float: none;
	}
	div.history-text {	
		float: none;
	}
}